<h1>Bookings#index</h1>


<div>
    <div>Book this villa!</div>

    <div>

      <%= form_for @booking do |f| %>
        <p><%= f.label "Check In:" %>
        <%= f.date_select :starts_at %></p>
        <p><%= f.label "Check Out:" %>
          <%= f.date_select :ends_at %></p>
        <%= f.submit "Book now!" %>
      <% end %>


    </div>
</div>
