<%= render 'shared/navbar' %>

<div class="container">
  <h3 class="title">Thank you for your Booking!</h3>
  <h5 class="ondertitle">We wish you a nice vacation.</h5>
  <h5 class="ondertitle" style="margin-bottom:63px">You will receive an email from us within 3 days.</h5>
    <div class="row">
          <div class="col-md-4">
                <a class="thumbnail">
                    <img class="img-responsive" src="http://res.cloudinary.com/casalverde/image/upload/v1485868284/Casalverde_fotograaf_20_2828_29-5760x3840_pwrspt.jpg" alt="">
                </a>
                <a class="thumbnail">
                    <img class="img-responsive" src="http://res.cloudinary.com/casalverde/image/upload/v1485868355/Casalverde_fotograaf_20_2826_29-5760x3840_nlan3q.jpg" alt="">
                </a>
                <a class="thumbnail">
                    <img class="img-responsive" src="http://res.cloudinary.com/casalverde/image/upload/v1485868411/Casalverde_fotograaf_20_2824_29-5138x3356_mrfe2w.jpg" alt="">
                </a>
          </div>
        <div class="col-md-7">
        <div style="margin-left:100px">
          <h5>Your contact details and booking information: </h5>
          <p>(if there is any mistake contact us please.)</p><hr>
            <h5>Your vacation begins at:</h5><p><%= @booking.starts_at%></p>
            <h5>Your vacation ends at:</h5><p><%= @booking.ends_at %></p>
            <h5> Booking number:</h5><p>656355346RB</p>
            <h5>Total price:</h5><p><%= @booking.total %></p><hr>

            <h5>Your email address:</h5><p><%= @booking.email_address %></p>
            <h5>Your phone number:</h5><p><%= @booking.phone_number %></p>
        </div>
      </div>

    </div>
