<!DOCTYPE html>
<html>
    <head>
        <title>Casal</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
      <%= yield %>
      <footer>
        <%#link on homepage to log in page, and if logged in it also shows a log out link%>
        <% if current_admin %>
          Signed in | <%= link_to "Logout", '/logout' %>
        <% else %>
          <%= link_to 'Log in', '/login' %>
        <% end %>
        <p>&copy; Cas'al Verde</p>
      </footer>
    </body>
</html>
